@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6rem;
  background: url(/images/bg-curvy-desktop.svg) no-repeat center center;
  background-size: cover;
  background-color: #1c2431;
  color: white; }

.header {
  height: 17rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem; }
  @media (max-width: 600px) {
    .header {
      height: 6rem; } }

.header-menu {
  display: flex; }

.menu-item {
  list-style: none; }
  .menu-item:not(:last-child) {
    margin-right: 3rem; }
  @media (max-width: 600px) {
    .menu-item:not(:last-child) {
      margin-right: 1rem; } }

.content-container {
  width: 90%;
  margin: auto; }

.logo {
  width: 16rem; }
  @media (max-width: 600px) {
    .logo {
      width: 11rem; } }

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15rem; }
  @media (max-width: 600px) {
    .hero-container {
      margin-bottom: 14rem; } }

.intro-image {
  width: 55%;
  margin-bottom: 4rem; }
  @media (max-width: 600px) {
    .intro-image {
      width: 75%; } }

.intro-title {
  width: 60%;
  text-align: center;
  font-size: 4rem;
  line-height: 1.6;
  margin-bottom: 2.5rem; }
  @media (max-width: 600px) {
    .intro-title {
      width: 100%;
      font-size: 3.1rem;
      line-height: 1.4;
      font-weight: 700; } }

.intro-text {
  width: 50%;
  text-align: center;
  margin-bottom: 4rem;
  font-size: 2.1rem;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif; }
  @media (max-width: 600px) {
    .intro-text {
      width: 90%;
      font-size: 1.7rem;
      margin-bottom: 3rem; } }

.intro-button {
  padding: 2rem 9rem;
  border-radius: 50px;
  border: none;
  font-size: 2.1rem;
  background-color: #339ecc;
  color: white; }

.boxes {
  width: 90%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  margin: auto;
  margin-bottom: 11rem;
  row-gap: 10rem; }
  @media (max-width: 600px) {
    .boxes {
      display: block;
      margin-bottom: 22rem; } }

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media (max-width: 600px) {
    .box {
      margin-bottom: 11rem; } }

.box-icon {
  width: 28%;
  margin-bottom: 2rem; }
  @media (max-width: 600px) {
    .box-icon {
      width: 18%;
      margin-bottom: 3rem; } }

.box-title {
  margin-bottom: 1.5rem; }

.box-text {
  text-align: center; }

.split-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12rem; }
  @media (max-width: 600px) {
    .split-panel {
      display: block; } }

.left {
  flex: 1; }
  @media (max-width: 600px) {
    .left {
      flex: none;
      width: 85%;
      margin: auto; } }

.right {
  flex: 1; }
  @media (max-width: 600px) {
    .right {
      flex: none; } }

@media (max-width: 600px) {
  .stay-productive {
    margin-bottom: 3.8rem; } }

.productive-title {
  font-size: 4.2rem;
  width: 60%;
  margin-bottom: 2rem; }
  @media (max-width: 600px) {
    .productive-title {
      width: 100%;
      font-size: 2.4rem; } }

.productive-text {
  font-size: 1.8rem;
  width: 90%;
  margin-bottom: 2rem; }
  @media (max-width: 600px) {
    .productive-text {
      width: 100%; } }

.see-how {
  color: #339ecc;
  text-decoration: none;
  border-bottom: 1px solid #339ecc;
  padding-bottom: 0.8rem; }

.icon-arrow {
  width: 25px; }

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10rem;
  background: url(/images/bg-quotes.png) no-repeat;
  padding-top: 4rem; }
  @media (max-width: 600px) {
    .row {
      display: block;
      background-size: 30px 20px;
      margin-bottom: 9rem; } }

.testimonial-box {
  width: 30%;
  background-color: #202a3c;
  padding: 4rem 2rem 3rem 2rem;
  font-family: 'Open Sans', sans-serif; }
  .testimonial-box:not(:last-child) {
    margin-right: 4rem; }
  @media (max-width: 600px) {
    .testimonial-box {
      width: 80%;
      margin: auto;
      margin-bottom: 3rem;
      padding: 3rem 1.5rem 2rem 1.5rem; } }

.testimonial-text {
  font-size: 1.7rem;
  margin-bottom: 2rem; }
  @media (max-width: 600px) {
    .testimonial-text {
      font-size: 1.3rem;
      font-weight: 100;
      line-height: 1.7; } }

.profile-image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 100px;
  margin-right: 2rem; }
  @media (max-width: 600px) {
    .profile-image {
      width: 2.4rem;
      height: 2.4rem; } }

.profile-name {
  font-weight: 600;
  font-size: 1.4rem; }
  @media (max-width: 600px) {
    .profile-name {
      font-size: 1.2rem; } }

.profile-title {
  font-size: 1.2rem; }
  @media (max-width: 600px) {
    .profile-title {
      font-size: 1rem; } }

.user-info {
  display: flex;
  align-items: center; }

.info-container {
  width: 70%;
  background-color: #202a3c;
  margin: auto;
  padding: 4rem 3rem;
  text-align: center;
  position: relative;
  bottom: -10rem; }
  @media (max-width: 600px) {
    .info-container {
      width: 90%; } }

.action-heading {
  font-size: 3.2rem;
  margin-bottom: 2.4rem; }
  @media (max-width: 600px) {
    .action-heading {
      font-size: 2.4rem; } }

.action-text {
  margin-bottom: 3.4rem;
  font-size: 1.7rem;
  font-family: 'Open Sans', sans-serif; }

.action-input {
  width: 400px;
  margin-right: 3rem;
  height: 4.2rem;
  border-radius: 100px;
  border: none; }
  @media (max-width: 600px) {
    .action-input {
      width: 100%;
      margin-bottom: 2rem; } }

.action-button {
  padding: 1.5rem 4rem;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  background-color: #339ecc;
  color: white; }
  @media (max-width: 600px) {
    .action-button {
      width: 100%; } }

.footer {
  background-color: #0b1523;
  padding-top: 19rem;
  padding-bottom: 7rem; }

.icon {
  width: 2rem;
  height: 2rem;
  margin-right: 2rem; }

.footer-text {
  display: flex; }

.footer-logo {
  margin-bottom: 3rem; }
  @media (max-width: 600px) {
    .footer-logo {
      width: 20rem; } }

.footer-container {
  width: 85%;
  margin: auto; }

.footer-content {
  display: flex;
  padding: 1rem; }
  @media (max-width: 600px) {
    .footer-content {
      display: block; } }

.footer-text {
  flex: 2;
  font-family: 'Open Sans', sans-serif;
  margin-right: 3rem; }
  @media (max-width: 600px) {
    .footer-text {
      margin-bottom: 3rem;
      font-size: 1.9rem; } }

.footer-contact {
  flex: 2;
  list-style: none; }

.footer-info {
  flex: 1;
  list-style: none; }

.footer-general {
  flex: 1;
  list-style: none; }

.footer-social {
  flex: 1; }
  @media (max-width: 600px) {
    .footer-social {
      flex: none;
      text-align: center; } }

@media (max-width: 600px) {
  ul {
    margin-bottom: 7rem; } }

li {
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-weight: 600; }
  @media (max-width: 600px) {
    li {
      margin-bottom: 2rem; } }

ion-icon {
  font-size: 35px;
  color: #fff;
  margin-left: 1.5rem; }
  ion-icon:not(:last-of-type) {
    margin-left: 1.5rem; }
  @media (max-width: 600px) {
    ion-icon {
      font-size: 25px; } }

.attribution {
  font-size: 11px;
  text-align: center; }
  @media (max-width: 600px) {
    .attribution {
      display: none; } }

.attribution a {
  color: #3e52a3; }
